[Desktop Entry]
Type=Application
Name=Laura
Comment=Lee en voz alta el texto seleccionado (Meta+R)
Exec="@RAIZ@/bin/leer-laura.sh"
NoDisplay=true
Terminal=false
StartupNotify=false
X-KDE-GlobalAccel-CommandShortcut=true
